<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Actualizar Funko</title>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/4.6.2/css/bootstrap.min.css}">
    <link href="/images/favicon.png" rel="icon" type="image/png">
</head>
<body>
<div th:replace="~{funkos/header.html :: header}"></div>
<div class="container">
    <h1>Actualizar Imagen Producto</h1>
    <form enctype="multipart/form-data"
          method="post"
          th:action="@{/update-image/{id}(id=${funko.getId()})}"
          th:object="${funko}"
    >
        <div class="form-group">
            <label for="imagen">Imagen:</label>
            <input accept="image/*" class="form-control-file" id="imagen" name="imagen" required type="file">
            <small class="text-danger" th:errors="*{image}" th:if="${#fields.hasErrors('image')}"></small>
            <input name="id" th:value="${funko.id}" type="hidden">
        </div>
        <button class="btn btn-primary" type="submit">Actualizar</button>
        <a class="btn btn-secondary mx-2" href="/">Volver</a>
    </form>
</div>
<!-- Incluir el fragmento del footer -->
<div th:replace="~{funkos/footer.html :: footer}"></div>
<script th:src="@{/webjars/bootstrap/4.6.2/js/bootstrap.bundle.min.js}"></script>
</body>
</html>
